@import url(/style/header.css);
@import url(/style/footer.css);


.separador{
    display: flex;
    width: 100%;
    color: var(--fondo);
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.main .content-1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 60px 100px 60px;
}

.main .content-1 p{
    width: 50%;
    padding: 30px 20px 0 10px;
}

.main .content-1 img{
    width: 50%;
    align-self: center;
    justify-self: center;
}

.main .mensaje{
    width: 100%;
}

.main .mensaje img{
    width: 100%;
}


@media (min-width: 0px) and (max-width: 478px){

    .separador{
        padding-bottom: 30px;
    }
    
    .main .content-1{
        flex-direction: column-reverse;
        padding: 0 10px 20px 10px;
    }

    .main .content-1 img{
        width: 100%;
    }

    .main .content-1 p{
        width: 100%;
        align-self: center;
        text-align: justify;
    }
}

@media (min-width: 479px) and (max-width: 1012px){
    .separador{
        padding-bottom: 35px;
    }

    .main .content-1{
        flex-direction: column-reverse;
    }

    .main .content-1 img{
        width: 100%;
    }

    .main .content-1 p{
        width: 100%;
        align-self: center;
        text-align: justify;
    }
}